.todo-login{
    background-color: #3f3160;  
    min-height: 50px;
    width: 400px;
    margin: 70px auto;
    border-radius: 10px;
  }

.login-head{
    color: white;
    margin-top: auto;
    margin-bottom: 50px;
    font-size: 56px;
}
#login-form input{
    background-color: cornflowerblue;
    border: 0;
    width: 350px;
    height: 60px;
    padding: 0px 20px;
    margin: 30px;
    font-size: 18px;
    border-radius: 10px;
    color: white;
    
}
#login-form input::placeholder{
    color:black;
}
#login-form button{
    height: 48px;
    width: 180px;
    border-radius: 7px;
    border: 0;
    background-color: yellowgreen;
    font-weight: bolder;
    font-size: 17px;
    margin-top: 15px;
    margin-right:0px;

}
.logout{
    height: 48px;
    width: 150px;
    border-radius: 7px;
    border: 0;
    background-color: white;
    font-weight: bolder;
    font-size: 17px;
    margin-top: 15px;
    

}